body {
	height: 1000px !important;
}


/*Granny Image for different sizes*/
/*.granny-image-wrapper {
	border: 2px solid blue;
	position: relative;
	left: 1px;
	top: -968px;
	z-index: 100;
	height: 900px;
	this is a hack to hide the layer from covering clickable areas
	width: 10%;
}*/


.granny-image {
	border: 2px solid green;
	position: absolute;
	width: 900px;
	left: 2012px;
	height: 900px;
	z-index: 100;
  background-image: url("images/VRSlide_ELE_granny-519x535.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/*Animation Classes*/

.slide-left {
	position: absolute;
	left: 1013px;
	top: 196px;
	z-index: 100;
	transition-duration: 2s;
	transition-timing-function: cubic-bezier(1, .5, .5, 0.2);
	transition-property: all;
}


/*@media screen and (max-width: 1500px) and (min-width: 800px){
	.granny-image {
		position: absolute;
		width: 100%;
		height: 535px;
		z-index: 100;
	  background-image: url("images/VRSlide_ELE_granny-519x535.png");
	  background-repeat: no-repeat;
	  background-size: contain;
	}
}

@media screen and (max-width: 800px) {
	.granny-image {
		position: absolute;
		width: 100%;
		height: 268px;
		z-index: 100;
	  background-image: url("images/VRSlide_ELE_granny-260x268.png");
	  background-repeat: no-repeat;
	  background-size: contain;
	}
}*/

/*Background Images for different sizes*/

.matrix-image {
	position: relative;
	top: -40px;
	z-index: -1;
  width: 100%;
	height: 1080px;
  background-image: url("images/VRSlide_BG_grid-1920x1080.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*@media screen and (max-width: 1500px) {
  .matrix-image {
		position: relative;
		top: -40px;
		z-index: -1;
    width: 100%;
		height: 540px;
    background-image: url("images/VRSlide_BG_grid-960x540.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}*/


/*Cube Classes*/

.cube-elements {
	/*border: 2px solid orange;*/
  width: 450px;
  margin: 50px auto;
	position: relative;
	left: -250px;
	top: 250px;
}

.cube-container {
	/*border: 2px solid brown;*/
  width: 300px;
  height: 300px;
  margin: 60px auto;
  -webkit-perspective: 1100px;
  -webkit-perspective-origin: -50% -50%;
  float: left;
}

.cube {
	/*border: 2px solid purple;*/
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(-150px);
  left: 15%;
  position: relative;
  margin: 0;
  width: 300px;
  height: 300px;
  -webkit-transition: 1s;
}

.cube div {
	/*border: 2px solid pink;*/
  width: 298px;
  height: 188px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  border: 1px solid #fff;
  text-align: center;
  padding-top: 110px;
  color: #fff;
  font: 3em arial;
}

.front {
  -webkit-transform: translateZ(150px);
}

.left {
  -webkit-transform: rotateY(-90deg) translateZ(150px);
}

.right {
  -webkit-transform: rotateY(90deg) translateZ(150px);
}

.top {
  -webkit-transform: rotateX(90deg) translateZ(150px);
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(150px);
}

.back {
  -webkit-transform: rotateY(180deg) translateZ(150px);
}

label {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  background: transparent;
  float: left;
  text-align: center;
  margin-right: 5px;
	color: white;
}

label:hover {
  background: #000000;
}

input {
  position: absolute;
  left: -9999px;
}

input:checked+label {
  font-weight: bold;
}

input[value="front"]:checked~.cube-container .cube {
  -webkit-transform: translateZ(-150px) rotateY(0);
}

input[value="left"]:checked~.cube-container .cube {
  -webkit-transform: translateZ(-150px) rotateY(90deg);
}

input[value="right"]:checked~.cube-container .cube {
  -webkit-transform: translateZ(-150px) rotateY(-90deg);
}

input[value="top"]:checked~.cube-container .cube {
  -webkit-transform: translateZ(-150px) rotateX(-90deg);
}

input[value="bottom"]:checked~.cube-container .cube {
  -webkit-transform: translateZ(-150px) rotateX(90deg);
}

input[value="back"]:checked~.cube-container .cube {
  -webkit-transform: translateZ(-150px) rotateY(180deg);
}
